POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=clinic_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=clinic_db

SECRET_KEY=b53138d911dea7818caa71695320700f67e44851e3b466540b72dd85f37161fd
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

CORS_ORIGINS=http://localhost:5173
